
/*====================================*/
/* RESET */
/*====================================*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
  }

.bbb {
    display: inline-block;
    margin: 0 auto;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



/*====================================*/
/* GLOBAL VAR() */
/*====================================*/

/*====================================*/
/* ROOT */
/*====================================*/
:root{
    --clr-primary:#212121;
    --clr-secondary:rgba(255, 255, 255, 0.6);
    /* --clr-text:#757575; */
    --clr-paragraph-primary:#757575;
    /* --clr-paragraph-secondary: ; */
    --clr-heading-primary:#212121;
    /* --clr-heading-secondary: ; */
    --clr-accent:#2196F3;
    --clr-border:#ECECEC;
    --clr-white:#FFFFFF;
    --clr-black:#000000;
    --bg-color-primary:#2F303A;
    --bg-white:#FFFFFF;
    --btn-bg:#F5F4FA;
    --clr-gallery-li-border: #EEEEEE;
    
    
    --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

    --icons-bg: #AFB1B8;

    /* main nav and some text*/
    --fs-300: 0.875rem;
    /* text */
    --fs-400: 16px;
    --fs-500: 1.125rem;
    --fs-600: 1.625rem;
    --fs-700: 2.25rem;
    --fs-900: 3.75rem;
  
    --ff-logo: 'Raleway', sans-serif ;
    
    /* 

    .primary__item
    .primary__box
    .button
    .section-one
    .section-two
    .section-three */
    
    }
/*====================================*/
/* TYPOGRAPHY */
/*====================================*/


/*====================================*/
/* BODY */
/*====================================*/
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--main-black);
    letter-spacing: 0.03em;
    line-height: 1.62;
}

/*====================================*/
/* HEADER > main_nav */
/*====================================*/

.header{
    border-bottom: 1px solid var(--clr-border);
}


.nav-list__li{
    margin-right: 50px;
}
.nav-list__li:last-child{
    margin-right: 0;
}

.nav-list__link{
    padding-bottom: 32px;
    padding-top: 32px;
}

.contacts{
    margin-left: auto;
}
.contacts__li{
    margin-right: 50px;
}
.contacts__li:last-child{
    margin-right: 0;
}
.contacts__link.link{
    color: var(--clr-paragraph-primary);
}

/*====================================*/
/* SECTIONS */
/*====================================*/

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* section-one */
.section-one{
    background-color: var(--bg-color-primary);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url('../images/hearo-img.jpg') ;
    max-width: 1600px;
    margin-inline: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
/*====================================*/
/* section-two */
.section-two{
    background-color: var(--bg-white);
    padding-bottom: 0;
}

.section-two__cards{
    display: flex;
    justify-content: space-between;
}
.section-two__card{
    width: 270px;
}

.section-two__svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-bg);
    height: 120px;
    margin-bottom: 30px;

}

.section-two__header{
    font-weight: 700;
    font-size: var(--fs-300);
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-primary);
    margin-bottom: 10px;
}
.section-two__p{
    font-size: var(--fs-300);
    color: var(--clr-paragraph-primary);
    line-height: 1.71;

}

.section-three{
    background-color: var(--bg-white);
}
.section-three__header{
    font-weight: 700;
    font-size: var(--fs-700);
    text-align: center;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-primary);
    margin-bottom: 50px;

}
.section-three__cards{
    display: flex;
    justify-content: space-between;
}

.section-three__card{
    position: relative;
    z-index: 0;
}

.section-three__card-overlay{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-white);

    background: linear-gradient(rgba(47, 48, 58, 0.8),rgba(47, 48, 58, 0.8));
    
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}


.section-four{
    background-color: var(--btn-bg);
}
.section-four__header{
    font-weight: 700;
    font-size: var(--fs-700);
    text-align: center;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-primary);
    margin-bottom: 50px;

}
.section-four__cards{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.section-four__card{
    background-color: var(--clr-white);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-four__card-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-four__card-header{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}

.section-four__card-text{
    color: var(--clr-paragraph-primary);
    line-height: 1.17;
}

.section-four__svg-container{
    display: flex;
    gap: 10px;
    margin-inline: auto;
    margin-top: 16px;

}

.section-four__icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: none;

    transition: background-color 250ms var(--transition-cubic-bezier);
}

.section-four__icon-wrapper:hover,
.section-four__icon-wrapper:focus {
    outline: none;
    background-color: var(--clr-accent);
}

.section-four__svg{
    fill: var(--icons-bg);
    transition: fill 250ms var(--transition-cubic-bezier);

}

.section-four__icon-wrapper:hover .section-four__svg,
.section-four__icon-wrapper:focus .section-four__svg {
    outline: none;
    fill: var(--clr-white);
}


/*====================================*/
/* COMPONENTS */
/*====================================*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container{
    width: 1200px;
    padding-left: 15px ;
    padding-right: 15px;
    margin-inline: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*====================================*/
/* HEADERS */

.section-one__header{
    color: var(--clr-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}



/*====================================*/
/* LINKS */

.link {
    display: inline-block;
    color: var(--bg-color-primary);
    font-size: var(--fs-300);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--transition-cubic-bezier);

}


.link:hover, .link:focus{
    outline: none;
color: var(--clr-accent);
}



.is-active{
    position: relative;
    color: var(--clr-accent);
}

.is-active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 4px solid var(--clr-accent);
    border-radius: 2px;
}

/* LOGO */

.logo{
font-family: var(--ff-logo);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.192;
letter-spacing: 0.03em;
}
.logo--header{
    margin-right: 93px;
}
.logo--footer{
    color: var(--clr-white);
    margin-bottom: 20px;
}

.logo__span{
    color: var(--clr-accent);
}
/*====================================*/
/*BUTTONS*/
.section-one__btn{
    font-family: "Roboto", sans-serif;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    font-weight: 700;
    font-size: var(--fs-400);
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

.hidden{
    font-size: 0.1px;
    color: transparent;
}

/*====================================*/
/* FOOTER */
.main-footer{
   background-color: var(--bg-color-primary);
   padding-top: 60px;
   padding-bottom: 60px;
}

.main-footer__address{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--clr-white );
    width: 231px;
}

.main-footer__link{
    margin-top: 9px;
}
.main-footer__link > a{
    color: var(--clr-secondary);
}





/* PORTFOLIO PAGE */


.portfolio-section-one__main-header{
    text-align: center;
}

.portfolio-section-one__buttons{
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-section-one__buttons li{
    margin-right: 8px;
}
.portfolio-section-one__buttons li:last-child {
    margin: 0;
}

.portfolio-section-one__button{
    background-color: var(--btn-bg);
    color: var(--clr-primary);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 25px;
    border-radius: 4px;
    border: none;

    transition: background-color 250ms var(--transition-cubic-bezier),
                color 250ms var(--transition-cubic-bezier),
                box-shadow 250ms var(--transition-cubic-bezier);

}

.portfolio-section-one__button:hover,
.portfolio-section-one__button:focus{
    background-color: var(--clr-accent);
    outline: none;
    color: var(--clr-white);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards{
    flex-wrap: wrap;
    /* flex-basis: calc((100% - 20px) / 3); */
    gap: 30px;
}

.portfolio-cards__card{
    line-height: 1.88;
    color: #757575;
    padding-bottom: 0;
}

.portfolio-cards__card:focus,
.portfolio-cards__card:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}

.portfolio-cards__link{
    display: block;
    text-decoration: none;
    color: var(--clr-paragraph-primary);

    transition: box-shadow 250ms var(--transition-cubic-bezier);
}

.portfolio-cards__link:visited{
    text-decoration: none;
    
}

.portfolio-cards__link:focus,
.portfolio-cards__link:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}


/* .portfolio-cards__card:nth-child(-n+3){
    margin-top: 0;
} */

.portfolio-cards__img-wrapper{
    position: relative;
    overflow: hidden;
    width: 370px;

}

.portfolio-cards__text{
    position: absolute;
    top:100%;
    padding-top: 64px;
    padding-inline: 24px;
    color: var(--clr-white);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
    width: 100%;
    height: 100%;
    transition: transform 250ms var(--transition-cubic-bezier);

}



.portfolio-cards__link:hover .portfolio-cards__text,
.portfolio-cards__link:focus .portfolio-cards__text {
    transform: translateY(-100%);
    outline: none;
}

.portfolio-cards__li-wrapper{
    position: relative;
    border-left: 1px solid var(--clr-gallery-li-border);
    border-right: 1px solid var(--clr-gallery-li-border);
    border-bottom: 1px solid var(--clr-gallery-li-border);
    padding: 20px 24px;
    background-color: var(--bg-white);
    z-index: 1;
}

.portfolio-cards__card-header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    /* margin-top: 20px; */
    margin-bottom: 4px;
}

.svg-small{
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
    transition: fill 250ms var(--transition-cubic-bezier);

}

.link:hover .svg-small, .link:focus .svg-small{
    fill: var(--clr-accent);
    outline: none;
}

.main-footer__join-us{
    margin-left: 70px;
}

.baseline{
    align-items: baseline;
}

.main-footer__join-us-txt{
font-weight: 700;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--clr-white);
}

.main-footer__svg-container{
    display: flex;
    gap: 10px;
    margin-inline: auto;
    margin-top: 16px;

}

.main-footer__icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--transition-cubic-bezier);

}

.main-footer__icon-wrapper:hover,
.main-footer__icon-wrapper:focus {
    background-color: var(--clr-accent);
    outline: none;
}



.main-footer__svg{
fill: var(--clr-white);
}


.our-clients__svg-wrapper{
    display: flex;
    gap:30px;
}

.our-clients__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--clr-heading-primary);


    margin-bottom: 50px;
}

.our-clients__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-bg);
    border-radius: 4px;

    transition: border 250ms var(--transition-cubic-bezier);

   
}
.our-clients__svg{
    fill: var(--icons-bg);
    transition: fill 250ms var(--transition-cubic-bezier);

}

.our-clients__link:hover .our-clients__svg,
.our-clients__link:focus .our-clients__svg{
    outline: none;
    fill: var(--clr-accent);
}
.our-clients__link:hover,
.our-clients__link:focus{
    outline: none;
    border: 1px solid var(--clr-accent);

}

/* =====11111111===== */


.is-hidden {
    /* visibility: hidden; */
    pointer-events: none;
    position: absolute;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.backdrop.is-hidden{
    opacity: 0;
}

.modal-window{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 582px;

    padding: 40px;

    transform: translate(-50%, -50%);

    z-index: 0;
    background-color: var(--clr-white);

}

.modal-window__close-btn{
    position: absolute;
    right: 8px;
    top: 8px;

    height: 30px;
    width: 30px;


    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    /* background-color: var(--clr-accent); */
    background-color: var(--clr-white);
    font-weight: 700;
    font-size: var(--fs-400);
    line-height: 1.88;
    letter-spacing: 0.06em;

    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    outline-color: transparent;
}

.modal-window__close-svg{
    fill: var(--clr-black);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__close-btn:hover .modal-window__close-svg{
    fill: var(--clr-accent);

}

.section-four__icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.section-four__icon-wrapper:hover,
.section-four__icon-wrapper:focus {
    background-color: var(--clr-accent);
}
.section-four__icon-wrapper:hover .section-four__svg,
.section-four__icon-wrapper:focus .section-four__svg {
    fill: var(--clr-white);
}

.main-footer__p-link{
    text-decoration: none;
    color: var(--clr-white);
    line-height: 1.71;
}

.main-footer__p-link:hover,
.main-footer__p-link:focus{
    color: var(--clr-accent);
    outline: none;
}

.newsletter{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-white);
    margin-left: 93px;
    width: 100%;
}

.newsletter p{
margin-bottom: 20px;
}

.newsletter p{
    margin-bottom: 20px;
    }

.newsletter__text-field{
    height: 50px;
    /* flex-grow: 1; */
    width: 358px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: var(--clr-accent);
    color: var(--clr-border);
    padding-left: 16px;
    font-weight: normal;

    transition: outline-color 250ms var(--transition-cubic-bezier);

}

.newsletter__text-field::placeholder{
    font-size: 16px;

    font-weight: 400;

    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.newsletter__text-field:focus,
.newsletter__text-field:active {
    border-color: var(--clr-accent);
    outline: var(--clr-accent) thick;
}

.newsletter__btn-suscribe{

    position: relative;

    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 200px;
    height: 50px;

    font-family: "Roboto", sans-serif;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    padding: 10px 28px;
    margin-left: 12px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.newsletter__btn-suscribe::after{
    content: "";
    width: 24px;
    height: 24px;

    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);

    background-image: url(../images/send.svg);
    background-repeat: no-repeat;

}

.newsletter__btn-suscribe:active, 
.newsletter__btn-suscribe:focus{
    background-color: #188CE8;
}

.modal-window__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-window__text{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: #212121;
}
.modal-window__submit-btn{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 200px;
    height: 50px;

    font-family: "Roboto", sans-serif;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    padding: 10px 28px;
    margin-left: 12px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

.modal-window__label{
    display: block;
    width: 100%;
}

.modal-window__label-p{
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #757575;;

    margin-bottom: 4px;

}
.modal-window__input{
/* .modal-window form input{ */
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    margin-bottom: 10px;
    outline-color:transparent;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.modal-window form input:active,
.modal-window form input:focus{

    border: 1px solid var(--clr-accent);
    outline-color: var(--clr-accent);
}

.modal-window form textarea{
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline-color: var(--clr-accent);

    padding: 12px 16px;

    resize: none;
}

.modal-window form textarea::placeholder{
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
}

.modal-window__input-wrapper{
    position: relative;
}

.modal-window__svg{
    position: absolute;
    top: 11px;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window form input:focus + .modal-window__svg,
.modal-window form input:active + .modal-window__svg{
    fill: #2196F3;
}

.modal-window input[type="checkbox"] {
    display: inline-block;
    width: 16px;
    height: 15px;
    /* opacity: 0; */
    appearance: none;
    background-color: #2196F3;
}

.modal-window__checkbox-labell{
    text-align: center;
    margin-top: 20px;
}

.modal-window__accept-span{
    position: relative;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--clr-paragraph-primary);
    padding-left: 25px;
}

.modal-window__accept-span::before{
    content: '';
    position: absolute;

    top: 50%;
    left: 0;

    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    background-color: transparent;
    border: 2px solid var(--clr-primary);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .modal-window__accept-span::before{
    content: '';
    background-color: #2196F3;
    background-image: url(../images/check.svg);
    /* background-image: url(../images/icons.svg#icon-fb); */
    background-size: 11px 8px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.modal-window input[type="checkbox"]:focus + .modal-window__accept-span::before{
    outline-color: var(--clr-accent);
    border-color: var(--clr-accent);
}

.modal-window input[type="checkbox"]:active + .modal-window__accept-span::before{
    outline-color: var(--clr-accent);
}

.modal-window a{
    color: var(--clr-accent);
    border-color: var(--clr-accent);

}

.modal-window__submit-btn{
    max-width: 200px;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__submit-btn:active, 
.modal-window__submit-btn:focus{
    background-color: #188CE8;
}