.logo{
    font-family: var(--ff-logo);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: calc(28/24);
    }
}

    .logo__span{
        color: var(--clr-accent);
        }
    
    .logo--header{

        @media screen and (max-width: 767px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        
        @media screen and (min-width: 768px) {
            margin-right: 87px !important;
        }


        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }
    .logo--footer{
        color: var(--clr-white);
        margin-bottom: 20px;
    }
    


