.our-team{
    background-color: var(--btn-bg);
}
.our-team__header{
    font-weight: 700;
    font-size: var(--fs-700);
    text-align: center;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-primary);
    margin-bottom: 50px;

}
.our-team__employees{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.our-team__employee-card{
    background-color: var(--clr-white);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team__employee-card-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-team__employee-card-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}

.our-team__employee-card-text{
    color: var(--clr-paragraph-primary);
    line-height: 1.17;
}

.our-team__svg-container{
    display: flex;
    gap: 10px;
    margin-inline: auto;
    margin-top: 16px;

}

.our-team__icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: none;

    transition: background-color 250ms var(--transition-cubic-bezier);

    &:hover,
    &:focus {
        outline: none;
        background-color: var(--clr-accent);
    }
}


.our-team__svg{
    fill: var(--icons-bg);
    transition: fill 250ms var(--transition-cubic-bezier);

    .our-team__icon-wrapper:hover &,
    .our-team__icon-wrapper:focus & {
        outline: none;
        fill: var(--clr-white);
    }
}


.our-team__icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    &:hover,
    &:focus {
        background-color: var(--clr-accent);
    }
}
