
.what-we-do{
    background-color: var(--bg-white);
}
.what-we-do__header{
    font-weight: 700;
    font-size: var(--fs-700);
    text-align: center;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-primary);
    margin-bottom: 50px;

}
.what-we-do__list{
    display: flex;
    justify-content: space-between;
}

.what-we-do__card{
    position: relative;
    z-index: 0;
}

.what-we-do__card-overlay{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--clr-white);

    background: linear-gradient(rgba(47, 48, 58, 0.8),rgba(47, 48, 58, 0.8));
    
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}